.footer {
  background-color: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.logo-white {
  color: var(--background-color);
}
.footer-adress {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--adress-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-adress:hover,
.footer-adress:focus {
  color: var(--background-color);
}
.footer-adress.white {
  color: var(--background-color);
}
.footer-contacts {
  margin-top: 20px;
}
.footer-contacts-list {
  margin-bottom: 9px;
}
.footer-adress:hover,
.footer-adress:focus {
  color: var(--accent-color);
}
.footer-social-list {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--background-color);
  margin-bottom: 20px;
  text-transform: uppercase;
}
.right-side {
  width: 206px;
  height: 80px;
  margin-left: 70px;
}
.footer-social-list-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-social-list-link {
  background-color: var(--color-footer-link);
  fill: var(--background-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: var(--accent-color);
}
.footer-form-field {
  height: 86px;
  width: 570px;
  margin-left: 93px;
  margin-top: 20px;
}
.form-item {
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--background-color);
  text-transform: uppercase;
}
.footer-form {
  display: flex;
  margin-top: 20px;
}
.footer-form-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--footer-color);
  margin-right: 12px;
  padding-left: 16px;
  color: var(--adress-color);
}
.footer-form-input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--adress-color);
}
.button-icon {
  fill: var(--background-color);
  margin-left: 10px;
}
.footer-modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
